.range-selector fieldset {
  border: none;
}

.range-number {
  max-width: 3em;
}

.range-selector legend {
  margin-bottom: .1em;
}

.range-selector {
  width: 100%;
}

.range-selector .input-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.range-slider {
  flex: 1;
}